<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
data.shape

(271116, 15)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [6]:
data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [7]:
print(data[(data['Sex']=='M') & (data['Year']==1996)]['Age'].min() ) # 'Year' - - int64
print(data[(data['Sex']=='F') & (data['Year']==1996)]['Age'].min() )

14.0
12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [8]:
data['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [9]:
# # using 'Gymnastics' , not  'gymnasts' 
a = data[(data['Year']==2000) & (data['Sex']=='M') & (data['Sport']=='Gymnastics') ].shape[0]
b = data[(data['Year']==2000) & (data['Sex']=='M')].shape[0]
p = a/b *100
print(round(p,1),"%")

7.7 %

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [10]:
print(data[(data['Year']==2000) & (data['Sex']=='F') & (data['Sport']=='Basketball')]['Height'].describe())

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [11]:
maxweight=data.loc[data['Year']==2002,'Weight'].max()
print(data[(data['Year']==2002) & (data['Weight']==maxweight)].Sport)

99154    Bobsleigh
Name: Sport, dtype: object

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [12]:
data.loc[data['Name']=='Pawe Abratkiewicz']['Year'].unique()

array([1992, 1998, 2002], dtype=int64)

In [13]:
data.loc[data['Name']=='Pawe Abratkiewicz'] # Display all

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [14]:
data[(data['Year']==2000) & (data['NOC']=='AUS') & (data['Medal']=='Silver') & (data['Sport']=='Tennis')].shape[0]

2

In [15]:
data[(data['Year']==2000) & (data['NOC']=='AUS') & (data['Medal']=='Silver') & (data['Sport']=='Tennis')]  # Display all

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [16]:
# A stupid way
print(data[(data['Year']==2000) & (data['NOC']=='SUI') & (data['Medal']=='Gold')].shape )#Switzerland
print(data[(data['Year']==2000) & (data['NOC']=='SUI') & (data['Medal']=='Silver')].shape ) 
print(data[(data['Year']==2000) & (data['NOC']=='SUI') & (data['Medal']=='Bronze')].shape ) 

print(data[(data['Year']==2000) & (data['NOC']=='SCG') & (data['Medal']=='Gold')].shape )
print(data[(data['Year']==2000) & (data['NOC']=='SCG') & (data['Medal']=='Silver')].shape )
print(data[(data['Year']==2000) & (data['NOC']=='SCG') & (data['Medal']=='Bronze')].shape )

(1, 15)
(11, 15)
(2, 15)
(11, 15)
(1, 15)
(13, 15)

In [17]:
# A smarter way
medal = ["Gold","Silver","Bronze"]
medalfilter = data["Medal"].isin(medal)
print("Switzerland:",data[(data['Year']==2000) & (data['NOC']=='SUI') & medalfilter].shape[0])
print("Serbia:",data[(data['Year']==2000) & (data['NOC']=='SCG') & medalfilter].shape[0])
# Answer is YES

Switzerland: 14
Serbia: 25

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [18]:
ta=data[(data['Year']==2014) & (data['Age']>=15) & (data['Age']<25)].shape[0] # 15-25
tb=data[(data['Year']==2014) & (data['Age']>=25) & (data['Age']<35)].shape[0] # 25-35
tc=data[(data['Year']==2014) & (data['Age']>=35) & (data['Age']<45)].shape[0]#35-45
td=data[(data['Year']==2014) & (data['Age']>=45) & (data['Age']<55)].shape[0] #45-55
print(ta,tb,tc,td)
# Anser is A

2027 2594 265 4

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [19]:
print(data.loc[data['Season']=='Summer']['City'].unique())
print(data.loc[data['Season']=='Winter']['City'].unique()) # Answer is "No,Yes"

['Barcelona' 'London' 'Antwerpen' 'Paris' 'Los Angeles' 'Helsinki'
 'Sydney' 'Atlanta' 'Stockholm' 'Beijing' 'Rio de Janeiro' 'Athina'
 'Mexico City' 'Munich' 'Seoul' 'Berlin' 'Melbourne' 'Roma' 'Amsterdam'
 'Montreal' 'Moskva' 'Tokyo' 'St. Louis']
['Calgary' 'Albertville' 'Lillehammer' 'Salt Lake City' 'Lake Placid'
 'Sochi' 'Nagano' 'Torino' 'Squaw Valley' 'Innsbruck' 'Sarajevo' 'Oslo'
 "Cortina d'Ampezzo" 'Vancouver' 'Grenoble' 'Sapporo' 'Chamonix'
 'Sankt Moritz' 'Garmisch-Partenkirchen']

In [20]:
# In case there were lot of citys
Summer = data.loc[data['Season']=='Summer']['City'].unique()
Winter = data.loc[data['Season']=='Winter']['City'].unique()

if "Lake Placid" in Summer:
    print("Lake Placid held Summer Olympics once.")
else:
    print("Lake Placid have not held Summer Olympics.")

if "Sankt Moritz" in Winter:
    print("Sankt Moritz held Winter Olympics once.")
else:
    print("Sankt Moritz have not held Winter Olympics.")

Lake Placid have not held Summer Olympics.
Sankt Moritz held Winter Olympics once.

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [21]:
print(data[data['Year']==1995]['Sport'].nunique())
print(data[data['Year']==2016]['Sport'].nunique())
# A tricky question. Olympic Games wasnot held in year 1995.

0
34